.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #007bff;
}

.login-box {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  padding: 2rem 4rem 4rem; /* Added more padding to the right side */
  width: 400px;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
  color: #333;
}

.input-group {
  margin-bottom: 1.25rem;
}

label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #333;
  text-align: left;
}

input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

input:focus {
  outline: none;
  border-color: #007bff;
}

button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.toggle-mode {
  font-size: 0.875rem;
  color: #007bff;
  cursor: pointer;
  transition: color 0.3s;
}

.toggle-mode:hover {
  color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 5px;
}
